# .gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# VSCode settings (optional)
.vscode/

# Logs
logs/
*.log
*.log.*

# Data folders (optional, if you don't want to track data)
data/
!data/**/*.csv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Temporary files
*.tmp
*.bak

# OS specific
.DS_Store
Thumbs.db

# IDE specific
.idea/

# Python virtual environment
venv/

# Coverage reports
.coverage
.pytest_cache/

# Build directories
build/
dist/

# Cython debug symbols
cython_debug/

# Google Cloud SDK
google-cloud-sdk/
**/google-cloud-sdk/

# PyInstaller
*.egg-info/

# Model and data files
*.pkl
*.h5
*.db
*.sqlite3
*.sav
*.npy
*.npz

# SSH keys
keys/